{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block css_files %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block head_title %}{% trans "Password Reset - POA" %}{% endblock %}

{% block content %}
    <div
            class="section mcb-section"
            style="
                    padding-top: 110px;
                    padding-bottom: 110px;
                    background-color: #222f1f;
                    background-image: url({% static "home/poa_main/images/home_poa_sectionbg2.png" %});
                    background-repeat: no-repeat;
                    background-position: center top;
                    "
    >
        <div class="section_wrapper mcb-section-inner" id="main_section">
            <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column">
                        <div class="column_attr clearfix align_center">
                            <h2 style="color: #fff">{% trans "Password Reset" %}</h2>
                            <p class="themecolor"
                               style="letter-spacing: 3px">{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                            {% include 'includes/alerts.html' %}
                        </div>
                    </div>
                    <div id="contactWrapper">
                        <div class="card mx-auto" id="form-card" style="max-width: 375px;">
                            <div class="card-body"></div>
                            {% if form.errors %}
                                <ul class="errorlist alert alert-error alert-danger alert-dismissible">
                                    {% for key, value in form.errors.items %}
                                        <li >{% if key != '__all__' %} {% endif %}{{ value }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}

                            <form method="POST"
                                  action="{% url 'account_reset_password' %}"
                                  class="password_reset">
                                {% csrf_token %}
                                <div class="form-group column one">
                                    <i class="mdi mdi-account-circle themecolor"></i>
                                    {{ form.as_p }}
                                </div>
                                <div class="form-group column one">
                                    <input
                                            class="primaryAction btn btn-success btn-block" type="submit"
                                            value="{% trans 'Reset My Password' %}"/>
                                </div>
                                <div class="form-group column one">
                                    <p class=" secondaryAction float-right ">{% blocktrans %}Please contact us if you
                                        have any trouble resetting your
                                        password.{% endblocktrans %}</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

