{% extends "base/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Change Password - POA" %}{% endblock %}

{% block css_files %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
    <div
            class="section mcb-section"
            style="
                    padding-top: 110px;
                    padding-bottom: 110px;
                    background-color: #222f1f;
                    background-image: url({% static "home/poa_main/images/home_poa_sectionbg2.png" %});
                    background-repeat: no-repeat;
                    background-position: center top;
                    "
    >
        <div class="section_wrapper mcb-section-inner" id="main_section">
            <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column">
                        <div class="column_attr clearfix align_center">
                            <h2 style="color: #fff">Password change</h2>
                            <p class="themecolor" style="letter-spacing: 3px">Change your password</p>
                            {% include 'includes/alerts.html' %}
                        </div>
                    </div>
                    <div id="contactWrapper">
                        <div class="card mx-auto" id="form-card" style="max-width: 375px; margin-top:5px;">
                            <div class="card-body">
                            </div>
                            {% if form.errors %}
                                <ul class="errorlist alert alert-error alert-danger">
                                    {% for key, value in form.errors.items %}
                                        <li>{% if key != '__all__' %}{% endif %}{{ value }}</li>
                                        <hr>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <form class="login">
                                {% csrf_token %}
                                <div class="form-group column one">
                                    <i class="mdi mdi-account-circle themecolor"></i>
                                    <label>Current Password</label>
                                    {{ form.oldpassword }}
                                </div>
                                <div class="form-group column one-second">
                                    <i class="mdi mdi-lock themecolor"></i>
                                    <label>Password</label>
                                    {{ form.password1 }}
                                </div>
                                <div class="form-group column one-second">
                                    <i class="mdi mdi-lock-outline themecolor"></i>
                                    <label>Confirm Password</label>
                                    {{ form.password2 }}
                                </div>
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                           value="{{ redirect_field_value }}"/>
                                {% endif %}
                                <div class="form-group column one">
                                    <button hx-post="{% url 'account_change_password' %}"
                                            hx-swap="outerHTML" hx-target="#main_section"
                                            hx-select="#main_section" hx-push-url="true"
                                            class="primaryAction btn-block"
                                            type="submit">{% trans "Change Password" %}
                                        <img class="htmx-indicator" src="{% static "svg-loaders/circles.svg" %}">
                                    </button>
                                </div>
                                <div class="form-group column one">
                                    <a hx-swap="outerHTML" hx-target="#main_section"
                                       hx-get="{% url 'account_reset_password' %}"
                                       hx-select="#main_section" hx-push-url="true"
                                       class="forgot_password secondaryAction float-right "
                                       href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
