{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block css_files %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div
            class="section mcb-section"
            style="
                    padding-top: 110px;
                    padding-bottom: 110px;
                    background-color: #222f1f;
                    background-image: url({% static "home/poa_main/images/home_poa_sectionbg2.png" %});
                    background-repeat: no-repeat;
                    background-position: center top;
                    "
    >
        <div class="section_wrapper mcb-section-inner" id="main_section">
            <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column">
                        <div class="column_attr clearfix align_center">
                            <h2 style="color: #fff">{% if token_fail %}{% trans "Bad Token" %}{% else %}
                                {% trans "Change Password" %}{% endif %}</h2>
                            {% if token_fail %}
                                {% url 'account_reset_password' as passwd_reset_url %}
                                <p class="themecolor" style="letter-spacing: 3px">{% blocktrans %}The password reset
                                    link was invalid, possibly because it has already
                                    been used.  Please
                                    request a <a href="{{ passwd_reset_url }}"><em><u>new password reset</u></em></a>
                                    .{% endblocktrans %}</p>
                                {% include 'includes/alerts.html' %}
                            {% else %}
                                <p class="themecolor" style="letter-spacing: 3px">Enter your new password</p>
                                {% include 'includes/alerts.html' %}
                                <div id="contactWrapper">
                                    <div class="card mx-auto" id="form-card" style="max-width: 375px; margin-top:5px;">
                                        {% if form.errors %}
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-error alert-danger">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <div class="alert alert-error alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <form method="POST" action="{{ action_url }}">
                                            {% csrf_token %}
                                            <div class="form-group column one">
                                                <i class="mdi mdi-lock themecolor"></i>
                                                <label>Password</label>
                                                {{ form.password1 }}
                                            </div>
                                            <div class="form-group column one">
                                                <i class="mdi mdi-lock-outline themecolor"></i>
                                                <label>Confirm Password</label>
                                                {{ form.password2 }}
                                            </div>
                                            <input type="submit" name="action" value="{% trans 'change password' %}"/>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
