{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block css_files %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block head_title %}{% trans "Register - POA" %}{% endblock %}

{% block content %}
    <div
            class="section mcb-section"
            style="
                    padding-top: 110px;
                    padding-bottom: 110px;
                    background-color: #222f1f;
                    background-image: url({% static "home/poa_main/images/home_poa_sectionbg2.png" %});
                    background-repeat: no-repeat;
                    background-position: center top;
                    "
    >
        <div class="section_wrapper mcb-section-inner" id="main_section">
            <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column">
                        <div class="column_attr clearfix align_center">
                            <h2 style="color: #fff">Register your account</h2>
                            <p class="themecolor" style="letter-spacing: 3px">And leave Manual in the past</p>
                            {% include 'includes/alerts.html' %}
                        </div>
                    </div>
                    <div id="contactWrapper">
                        <div class="card mx-auto" id="form-card" style="max-width: 420px; margin-top:5px;">
                            <div class="card-body">
                                <form class="signup" id="signup_form"
                                      hx-post="{% url 'account_signup' %}"
                                      hx-swap="outerHTML" hx-target="#main_section"
                                      hx-select="#main_section" hx-push-url="true"
                                      hx-indicator=".spinner-cl"
                                      hx-confirm="Please make sure the submission is correct as it can't be changed later">
                                    {% csrf_token %}
                                    <div class="form-group column one-second">
                                        <i class="mdi mdi-file-account themecolor"></i>
                                        {{ form.first_name | as_crispy_field }}
                                    </div>
                                    <div class="form-group column one-second">
                                        <i class="mdi mdi-file-account-outline themecolor"></i>
                                        {{ form.last_name | as_crispy_field }}
                                    </div>

                                    <div class="form-group column one">
                                        <i class="mdi mdi-email themecolor"></i>
                                        {{ form.email | as_crispy_field }}
                                    </div>
                                    <div class="form-group column one-second">
                                        <i class="mdi mdi-lock themecolor"></i>
                                        {{ form.password1 | as_crispy_field }}
                                    </div>
                                    <div class="form-group column one-second">
                                        <i class="mdi mdi-lock-outline themecolor"></i>
                                        {{ form.password2 | as_crispy_field }}
                                    </div>
                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}"
                                               value="{{ redirect_field_value }}"/>
                                    {% endif %}
                                    <button class="primaryAction btn btn-primary btn-block"
                                            type="submit">{% trans "Sign Up" %}
                                        <img class="htmx-indicator spinner-cl"
                                             src="{% static "svg-loaders/circles.svg" %}">
                                    </button>
                                </form>
                                <p class="text-center mt-4 text-muted">{% blocktrans %}Already have an account?
                                    <a hx-swap="outerHTML" hx-target="#main_section" hx-get="{{ login_url }}"
                                       hx-select="#main_section" hx-push-url="true"
                                       class="login btn btn-outline-success btn-default btn-block"
                                       href="{{ login_url }}">Log
                                        In</a>
                                    .{% endblocktrans %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
