{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}


    <div
            class="section mcb-section"
            style="
                    padding-top: 110px;
                    padding-bottom: 110px;
                    background-color: #222f1f;
                    background-image: url({% static "home/poa_main/images/home_poa_sectionbg2.png" %});
                    background-repeat: no-repeat;
                    background-position: center top;
                    "
    >
        <div class="section_wrapper mcb-section-inner" id="main_section">
            <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column">
                        <div class="column_attr clearfix align_center">
                            <h2 style="color: #fff">{% trans "Verify Your E-mail Address" %}</h2>
                            <p class="themecolor"
                               style="letter-spacing: 3px">{% blocktrans %}We have sent an e-mail to you for
                                verification. Follow the
                                link provided to finalize the
                                signup process.{% endblocktrans %}</p>
                            <p>If you do not see the verification e-mail in your main inbox, check your
                                spam folder.
                                Please
                                contact us if you do not receive the verification e-mail within a few
                                minutes.</p>
                            {% include 'includes/alerts.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
