{% extends "base/base.html" %}
{% load static %}

{% block head_title %}Program Office Aid{% endblock %}

{% block content %}

    <div class="mfn-main-slider" id="mfn-rev-slider">
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
             data-source="gallery"
             style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px">
            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;"
                 data-version="5.4.7.2">
                <ul>
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default"
                        data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                        data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off"
                        data-title="Slide"
                        data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                        data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                        data-description="">
                        <img src="{% static 'home/poa_main/images/home_poa_slider_bg.jpg' %}"
                             title="home_garden3_slider_bg" width="1920" height="790"
                             data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                             class="rev-slidebg" data-no-retina>
                        <div class="tp-caption tp-resizeme" id="slide-1-layer-1" data-x="150" data-y="359"
                             data-width="['auto']" data-height="['auto']" data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                             style="z-index: 5; white-space: nowrap; font-size: 65px; line-height: 65px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:PT Serif">
                            Program
                            <br> Office Aid...
                        </div>
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-1-layer-2"
                             data-x="40" data-y="395" data-width="['75']" data-height="['6']" data-type="shape"
                             data-responsive_offset="on"
                             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                             style="z-index: 6;background-color:rgb(110,198,86)"></div>
                        <div class="tp-caption tp-resizeme" id="slide-1-layer-3" data-x="150" data-y="531"
                             data-width="['auto']" data-height="['auto']" data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                             style="z-index: 7; white-space: nowrap; font-size: 15px; line-height: 22px; font-weight: 500; color: #6ec656; letter-spacing: 4px;font-family:Yantramanav">
                            {% include 'includes/alerts.html' %}
                            Quality of life Automation system for students of IIUI
                        </div>
                        <div class="tp-caption tp-resizeme" id="slide-1-layer-4" data-x="150" data-y="600"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']" data-type="image"
                             data-actions='[{"event":"click","action":"scrollbelow","offset":"-60px","delay":"","speed":"300","ease":"Power2.easeInOut"}]'
                             data-responsive_offset="on"
                             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                             style="z-index: 8;cursor:pointer"><img
                                src="{% static 'home/poa_main/images/home_poa_slider_pic1.png' %}"
                                data-ww="12px"
                                data-hh="20px" width="12" height="20" data-no-retina>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section mcb-section no-margin-h no-margin-v"
                         style="padding-top:0px; padding-bottom:80px;background-image:url({% static 'home/poa_main/images/home_poa_sectionbg1.jpg' %}); background-repeat:no-repeat; background-position:center bottom">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one valign-top move-up clearfix" style="margin-top:-60px"
                                 data-mobile="no-up">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one-second column_column">
                                        <div class="column_attr clearfix"
                                             style="background-color:#6ec656; padding:110px 20px 95px">
                                            <h2 style="color:#fff">Tired of Manual Submissions, long queues and an
                                                inconvenient system?</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap two-fifth valign-top clearfix" style="padding:70px 5% 55px">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h1>Turn outdated into automated</h1>
                                            <p>
                                                Discover a better way to get things done across IIUI.
                                            </p>
                                            <h6><a href="{% url 'about' %}">LEARN MORE</a>
                                                <i
                                                        class="mdi mdi-arrow-right-thin-circle-outline themecolor"></i>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap three-fifth valign-top move-up clearfix" style="margin-top:-215px"
                                 data-mobile="no-up">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid"
                                                     src="{% static 'home/poa_main/images/iiui_bg_740x718.jpg' %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap divider valign-top clearfix">
                                <div class="mcb-wrap-inner"></div>
                            </div>
                            <div class="wrap mcb-wrap two-fifth valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid"
                                                     src="{% static 'home/poa_main/images/auto_780x1039.jpg' %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap three-fifth valign-top clearfix" style="padding:70px 7% 55px">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h2>Take care of what's important. Automate the rest.</h2>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_divider">
                                        <hr class="no_line" style="margin:0 auto 50px">
                                    </div>
                                    <div class="column mcb-column one-second column_column">
                                        <div class="column_attr clearfix" style="padding:0 8% 0 0">
                                            <h5>Streamline repetitive tasks and get a paperless processes with Program
                                                Office Aid—so you can focus your attention where it’s needed most.</h5>
                                            <p>
                                                With Program Office Aid repetitive tasks of submissons and queries can
                                                be completed faster. with high quality results and reducing human error.
                                            </p>
                                            <h6><a href="{% url 'about' %}">What is POA about?</a><i
                                                    class="mdi mdi-eye themecolor"></i></h6>

                                        </div>
                                    </div>
                                    <div class="column mcb-column one-second column_column">
                                        <div class="column_attr clearfix align_center"
                                             style="background-color:#fff; padding:50px 40px 35px; border-bottom: 5px solid #70c458; margin: 0 3%">
                                            <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                <div class="image_wrapper">
                                                    <img class="scale-with-grid"
                                                         src="{% static 'home/poa_main/images/home_poa_pic3.png' %}">
                                                </div>
                                            </div>
                                            <hr class="no_line" style="margin:0 auto 20px">
                                            <h2>1500</h2>
                                            <p style="letter-spacing: 3px">
                                                Forms are submitted every new semester in CS department alone... What a
                                                waste
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section"
                         style="padding-top:110px; padding-bottom:110px; background-color:#222f1f; background-image:url({% static 'home/poa_main/images/home_poa_sectionbg2.png' %}); background-repeat:no-repeat; background-position:center top">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h2 style="color:#fff">Familiarize yourself with POA</h2>
                                            <p class="themecolor" style="letter-spacing: 3px">
                                                As Manual is now a thing of the past
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one-fourth column_trailer_box">
                                        <div class="trailer_box">
                                            <a href="{% url 'services' %}">
                                                <img class="scale-with-grid"
                                                     src="{% static 'home/poa_main/images/online-780x920.png' %}">
                                                <div class="desc">
                                                    <div class="subtitle">
                                                        Online Submission
                                                    </div>
                                                    <h2>Inconvenient visits, No More</h2>
                                                    <div class="line"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one-fourth column_trailer_box">
                                        <div class="trailer_box">
                                            <a href="{% url 'services' %}">
                                                <img class="scale-with-grid"
                                                     src="{% static 'home/poa_main/images/Questions_780x920.png' %}">
                                                <div class="desc">
                                                    <div class="subtitle">
                                                        Get Queries answered
                                                    </div>
                                                    <h2>Questions, we all have them</h2>
                                                    <div class="line"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one-fourth column_trailer_box">
                                        <div class="trailer_box">
                                            <a href="{% url 'services' %}">
                                                <img class="scale-with-grid"
                                                     src="{% static 'home/poa_main/images/feedback_780x920.png' %}">
                                                <div class="desc">
                                                    <div class="subtitle">
                                                        Give Feedback
                                                    </div>
                                                    <h2>Your opinion matters</h2>
                                                    <div class="line"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one-fourth column_trailer_box">
                                        <div class="trailer_box">
                                            <a href="{% url 'services' %}">
                                                <img class="scale-with-grid"
                                                     src="{% static 'home/poa_main/images/announcement_780x920.png' %}">
                                                <div class="desc">
                                                    <div class="subtitle">
                                                        Announcements
                                                    </div>
                                                    <h2>Your one stop official dispatch</h2>
                                                    <div class="line"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section no-margin-h no-margin-v equal-height"
                         style="padding-top:0px; padding-bottom:120px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-third valign-top clearfix" style="padding:70px 7% 55px 0">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h2>Digital is standard</h2>
                                            <h5>It is time to leave behind old manual systems and save time effort and
                                                labour</h5>
                                            <p>
                                                Program Office Aid aims to achieve that goal by providing a digital
                                                platform for students to submit their forms, queries and feedback
                                                online, and for staff members to easily monitor and respond to
                                                submissions and make announcements.
                                            </p>
                                            <h6><a href="{% url 'services' %}">See more</a><i
                                                    class="mdi mdi-eye themecolor themecolor"></i></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap two-third valign-top move-up clearfix" style="margin-top:-60px"
                                 data-mobile="no-up">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one-second column_column">
                                        <div class="column_attr clearfix"
                                             style="background-color:#6ec656; padding:50px 50px 35px">
                                            <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                <div class="image_wrapper">
                                                    <img class="scale-with-grid"
                                                         src="{% static 'home/poa_main/images/home_poa_pic9.png' %}">
                                                </div>
                                            </div>
                                            <hr class="no_line" style="margin:0 auto 55px">
                                            <h4 style="color:#fff">Time to save paper and time.</h4>
                                            <p style="color: #b7e3ab">
                                                Manual System is not only inconvenient but creates unnecessary waste.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_divider">
                                        <hr class="no_line">
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

