{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}Announcement detail - POA{% endblock %}

{% block css_files %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div
            class="section mcb-section"
            style="
                    padding-top: 110px;
                    padding-bottom: 110px;
                    background-color: #222f1f;
                    background-image: url({% static "home/poa_main/images/home_poa_sectionbg2.png" %});
                    background-repeat: no-repeat;
                    background-position: center top;
                    "
    >
        <div class="section_wrapper mcb-section-inner" id="main_section">
            <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column">
                        <div class="column_attr clearfix align_center">
                            <div class="card mx-auto" id="form-card" style="max-width: 975px; margin-top:5px;">
                                <div class="post-meta clearfix mx-auto mt-4">
                                    <div class="author-date">
                                                    <span style="color: #013220" class="vcard author post-author"><span
                                                            class="label">Posted by </span><i
                                                            class="mdi mdi-account-circle themecolor"></i> <span
                                                            class="fn"><a
                                                            href="mailto:{{ announcement.author }}">{{ announcement.author }}</a></span></span><span
                                            class="date"><span class="label"> on </span><i
                                            class="mdi mdi-calendar-clock themecolor"></i> <span
                                            class="post-date updated">{{ announcement.created_at }}</span></span>
                                    </div>
                                </div>

                                <h2 style="color: #013220">{{ announcement.title }}</h2>
                                <p style="color: #013220; letter-spacing: 3px">{{ announcement.description|safe }}</p>
                                {% if user.is_authenticated %}
                                    <div class="post-footer liked_post">
                                        <form
                                                hx-post="{% url 'announcements:like_post' announcement.pk %}"
                                                hx-swap="outerHTML" hx-target=".liked_post"
                                                hx-select=".liked_post" hx-push-url="true">
                                            {% csrf_token %}
                                            <input type="hidden" name="announcement_list"
                                                   value="">
                                            <span class="button-love">
                                        <button class="btn btn-outline-light btn-sm" type="submit" name="post_id"
                                                value="{{ announcement.pk }}">

                                            <span class="love-text"></span><a href="#"
                                                                              class="mfn-love "
                                                                              data-id="2283">
                                            <span class="icons-wrapper">
                                                {% if user in announcement.liked.all %}
                                                    <i class="mdi mdi-heart"></i>
                                                    <i class="mdi mdi-heart-outline"></i>
                                                {% else %}
                                                    <i class="mdi mdi-heart-outline"></i>
                                                    <i class="mdi mdi-heart"></i>

                                                {% endif %}
                                           </span>
                                            <span class="label">{{ announcement.num_like }}</span></a>


                                        </button>
                                     </span>
                                        </form>
                                    </div>
                                {% else %}
                                    <div class="reply">
                                        <a rel="nofollow"
                                           class="comment-reply-login"
                                           href="{% url 'account_login' %}?next={{ request.path }}">Log
                                            in to like this post</a>
                                    </div>
                                {% endif %}
                            </div>
                            {% include 'includes/alerts.html' %}

                        </div>
                    </div>
                    <div id="contactWrapper" class="swap-comments">
                        <div class="card mx-auto mt-2" id="form-card" style="max-width: 975px; margin-top:5px;">
                            <div class="column one column_blog">
                                <div class="blog_wrapper isotope_wrapper">
                                    <div class="posts_group lm_wrapper classic">
                                        <div class="column one comments">
                                            <div id="comments">
                                                <h4 id="comments-title"> {{ announcement.num_comment }} comments</h4>

                                                <ol class="commentlist">
                                                    {% for comment in comments %}
                                                        <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1 parent"
                                                            id="comment-2">
                                                            <div id="div-comment-2" class="comment-body">
                                                                <div class="comment-author vcard">
                                                                    <img alt=""
                                                                         src="http://0.gravatar.com/avatar/057e2eb392b95a2ecfc9d32d554e3917?s=64&amp;d=http:%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G"
                                                                         class="avatar avatar-64 photo"
                                                                         height="64" width="64"><cite
                                                                        class="fn">{{ comment.user.full_name }}</cite><span
                                                                        class="says"> says:</span>
                                                                </div>
                                                                <div class="comment-meta commentmetadata themecolor">
                                                                    {{ comment.timestamp }}
                                                                </div>
                                                                <p>
                                                                    {{ comment.text }}
                                                                </p>
                                                                {% if user.is_authenticated %}
                                                                    <div class="post-footer liked_comment-{{ comment.pk }}">
                                                                        <form
                                                                                hx-post="{% url 'announcements:like_comment' comment.pk %}"
                                                                                hx-swap="outerHTML" hx-target=".liked_comment-{{ comment.pk }}"
                                                                                hx-select=".liked_comment-{{ comment.pk }}">
                                                                            {% csrf_token %}

                                                                            <span class="button-love">
                                                                <button class="btn btn-outline-light btn-sm"
                                                                        type="submit" name="post_id"
                                                                        value="{{ comment.pk }}">

                                                            <span class="love-text"></span><a href="#"
                                                                                              class="mfn-love "
                                                                                              data-id="2283">
                                            <span class="icons-wrapper">
                                                {% if user in comment.liked.all %}
                                                    <i class="mdi mdi-heart"></i>
                                                    <i class="mdi mdi-heart-outline"></i>
                                                {% else %}
                                                    <i class="mdi mdi-heart-outline"></i>
                                                    <i class="mdi mdi-heart"></i>

                                                {% endif %}
                                                                       </span>
                                                                        <span class="label">{{ comment.num_like }}</span></a>


                                                                    </button>
                                                                 </span>
                                                                        </form>
                                                                    </div>
                                                                {% else %}

                                                                    <span class="love-text"></span><a href="{% url 'account_login' %}?next={{ request.path }}"
                                                                                                      class="mfn-love "
                                                                                                      data-id="2283">
                                                                <span class="icons-wrapper">

                                                                        <i class="mdi mdi-heart-outline"></i>
                                                                    </span>
                                                                    <span class="label">{{ comment.num_like }}</span></a>

                                                                {% endif %}

                                                            </div>

                                                            <ul class="children">
                                                                {% for reply in comment.replies.all reversed %}
                                                                    <li class="comment replybyuser comment-author-admin bypostauthor odd alt depth-2 parent">
                                                                        <div
                                                                                class="comment-body">
                                                                            <div class="comment-author vcard">
                                                                                <img alt=""
                                                                                     src="http://0.gravatar.com/avatar/057e2eb392b95a2ecfc9d32d554e3917?s=64&amp;d=http:%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G"
                                                                                     class="avatar avatar-64 photo"
                                                                                     height="64" width="64"><cite
                                                                                    class="fn">{{ reply.user.full_name }}</cite><span
                                                                                    class="says"> says:</span>
                                                                            </div>
                                                                            <div class="comment-meta commentmetadata themecolor">
                                                                                {{ reply.timestamp }}
                                                                            </div>
                                                                            <p>
                                                                                {{ reply.text }}
                                                                            </p>
                                                                            {% if user.is_authenticated %}
                                                                                <div class="post-footer liked_reply-{{ reply.pk }}">
                                                                                    <form
                                                                                            hx-post="{% url 'announcements:like_comment' reply.pk %}"
                                                                                            hx-swap="outerHTML"
                                                                                            hx-target=".liked_reply-{{ reply.pk }}"
                                                                                            hx-select=".liked_reply-{{ reply.pk }}">
                                                                                        {% csrf_token %}

                                                                                        <span class="button-love">
                                                                <button class="btn btn-outline-light btn-sm"
                                                                        type="submit" name="post_id"
                                                                        value="{{ reply.pk }}">

                                                            <span class="love-text"></span><a href="#"
                                                                                              class="mfn-love "
                                                                                              data-id="2283">
                                            <span class="icons-wrapper">
                                                {% if user in reply.liked.all %}
                                                    <i class="mdi mdi-heart"></i>
                                                    <i class="mdi mdi-heart-outline"></i>
                                                {% else %}
                                                    <i class="mdi mdi-heart-outline"></i>
                                                    <i class="mdi mdi-heart"></i>

                                                {% endif %}
                                                                       </span>
                                                                        <span class="label">{{ reply.num_like }}</span></a>
                                                                    </button>
                                                                     </span>
                                                                                    </form>
                                                                                </div>
                                                                            {% else %}

                                                                                <span class="love-text"></span>
                                                                                <a href="{% url 'account_login' %}?next={{ request.path }}"
                                                                                   class="mfn-love "
                                                                                   data-id="2283">
                                                                <span class="icons-wrapper">

                                                                        <i class="mdi mdi-heart-outline"></i>
                                                                    </span>
                                                                                    <span class="label">{{ reply.num_like }}</span></a>


                                                                            {% endif %}
                                                                        </div>

                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        <div class="reply mx-0 my-0">
                                                            <div class="accordion">
                                                                <div class="mfn-acc accordion_wrapper">
                                                                    <div class="question">
                                                                        <div class="title">
                                                                            <i
                                                                                    class="mdi mdi-message-reply-text"></i>Reply
                                                                        </div>
                                                                        {% if user.is_authenticated %}
                                                                            <div class="answer">
                                                                                <form
                                                                                        hx-post="{% url 'announcements:announcement_detail' announcement.pk %}"
                                                                                        hx-swap="outerHTML"
                                                                                        hx-target="#Wrapper"
                                                                                        hx-select="#Wrapper"
                                                                                        hx-push-url="true"
                                                                                        hx-encoding='multipart/form-data'>

                                                                                    <!-- Security token -->
                                                                                    {% csrf_token %}

                                                                                    <!-- Using the formset -->
                                                                                    {{ form }}
                                                                                    <input type="hidden" name="ParentId"
                                                                                           value="{{ comment.pk }}">

                                                                                    <input type="submit" value="Submit">
                                                                                </form>
                                                                            </div>

                                                                        {% else %}
                                                                            <div class="answer">
                                                                                <p class="must-log-in">
                                                                                    You must be <a
                                                                                        href="{% url 'account_login' %}?next={{ request.path }}">logged
                                                                                    in</a> to post a
                                                                                    reply.
                                                                                </p>
                                                                            </div>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </ol>

                                                <div id="respond" class="comment-respond">
                                                    <h3 id="reply-title" class="comment-reply-title">Leave a
                                                        Comment </h3>
                                                    {% if not user.is_authenticated %}
                                                        <p class="must-log-in">
                                                            You must be <a
                                                                href="{% url 'account_login' %}?next={{ request.path }}">logged
                                                            in</a> to post a
                                                            comment.
                                                        </p>

                                                        </div>
                                                    {% else %}
                                                        <form hx-post="{% url 'announcements:announcement_detail' announcement.pk %}"
                                                              hx-swap="outerHTML"
                                                              hx-target="#Wrapper"
                                                              hx-select="#Wrapper"
                                                              hx-push-url="true"
                                                              hx-encoding='multipart/form-data'>

                                                            <!-- Security token -->
                                                            {% csrf_token %}

                                                            <!-- Using the formset -->
                                                            {{ form }}
                                                            <input type="hidden" name="ParentId" value="">

                                                            <input type="submit" value="Submit">
                                                        </form>
                                                    {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}