{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block css_files %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block head_title %}{% trans "All Petitions - POA" %}{% endblock %}

{% block content %}
    <div class="section mcb-section"
         style="padding-top:110px; background-color:#222f1f; background-image:url({% static "home/poa_main/images/home_poa_sectionbg2.png" %}); background-repeat:no-repeat; background-position:center top">
        <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column">
                        <div class="column_attr clearfix align_center">
                            <h2 style="color:#fff">Latest Petitions</h2>
                            <p class="themecolor" style="letter-spacing: 3px">
                               All petitions to date can be found here
                            </p>
                        <a href="{% url 'submissions:petition_create' %}"
                               class="d-print-none"><span
                                    class="mdi mdi-clipboard-edit"></span> Submit a petition
                            </a>

                            {% include 'includes/alerts.html' %}
                            <div id="contactWrapper">
                        <div class="mx-auto query_card" id="form-card" style="max-width: 975px; margin-top:5px;">
                            {% for petition in petitions %}
                                <hr>
                            <div class="post-desc-wrapper bg-white w-100">
                                                <div class="post-desc">
                                                    <div class="post-meta clearfix">
                                                        <div class="author-date">
                                                            <span class="author"><span>Petition by </span><i class="mdi mdi-account-circle themecolor"></i>
                                                                <a href="mailto:{{ petition.student.student.full_name }}">{{ petition.student.student.full_name }}</a>
                                                            </span><span class="date"><span> at </span>
                                                            <i class="mdi mdi-calendar-clock themecolor">
                                                            </i> {{ petition.created_at }}</span>
                                                        </div>

                                                    </div>
                                                    <div class="post-title">
                                                        <blockquote>
                                                            <a href="{% url 'submissions:petition_detail' petition.pk %}"><h2>{{ petition.petition_title }}</h2></a>
                                                        </blockquote>
                                                    </div>
                                                    <div class="post-excerpt"></div>
                                                    <div class="post-footer">

                                                        <div class="post-links">
                                                            <i class="mdi mdi-signature-freehand themecolor"></i>
                                                            <a href="{% url 'submissions:petition_detail' petition.pk %}" class="post-comments">{{ petition.get_signature_count }} signatures</a>
                                                            <i class="mdi mdi-book-open themecolor"></i>
                                                            <a href="{% url 'submissions:petition_detail' petition.pk %}" class="post-more">Details</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            {% endfor %}
                        </div>
                     </div>
                        </div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
                </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
