{% extends 'base/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block css_files %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}
    <div
            class="section mcb-section"
            style="
                    padding-top: 110px;
                    padding-bottom: 110px;
                    background-color: #222f1f;
                    background-image: url({% static "home/poa_main/images/home_poa_sectionbg2.png" %});
                    background-repeat: no-repeat;
                    background-position: center top;
                    "
    >
        <div class="section_wrapper mcb-section-inner" id="main_section">
            <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column">
                        <div class="column_attr clearfix align_center">
                            <h2 style="color: #fff">Welcome <span class="themecolor">{{ user.first_name }}</span></h2>
                            <p class="themecolor" style="letter-spacing: 3px">This dashboard contains all the info on
                                forms, queries and feedback that you submitted</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section-content padding-y bg mt-4">
        {% include 'includes/alerts.html' %}
        <div class="container">
            <div class="row">
                <main class="col-md-9">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3">Logged in as:</strong>
                            <span class="themecolor">{{ user.full_name }}</span>
                        </header>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card" style="text-align: center">
                                        <div class="card-body">
                                            {% if student.profile_picture_thumbnail %}
                                            <img src="{{ student.profile_picture_thumbnail.url }}" alt="User Profile Picture"
                                                 width="50" height="50" style="border-radius: 50%">
                                            {% endif %}
                                            <p class="mb-0">{{ user.email }}</p>
                                            <p>{{ student.phone_number }}</p>
                                           <p><a href="{% url 'account_change_password' %}">Change password</a></p>
                                            <p><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card" style="text-align: center">
                                        <div class="card-body">
                                            <h5 class="card-title">Total Forms Submitted</h5>
                                            <h4>1</h4>
                                            <a href="#">View Forms</a>
                                        </div>
                                    </div>
                                </div>


                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->

                    </article> <!-- order-group.// -->
                </main>
            </div> <!-- row.// -->

        </div>


    </section>

{% endblock %}