{% extends "base/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}

{% block css_files %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block head_title %}{% trans "Edit Profile - POA" %}{% endblock %}

{% block content %}
    <div
            class="section mcb-section"
            style="
                    padding-top: 110px;
                    padding-bottom: 110px;
                    background-color: #222f1f;
                    background-image: url({% static "home/poa_main/images/home_poa_sectionbg2.png" %});
                    background-repeat: no-repeat;
                    background-position: center top;
                    "
    >
        <div class="section_wrapper mcb-section-inner" id="main_section">
            <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column">
                        <div class="column_attr clearfix align_center">
                            <h2 style="color: #fff">Edit your profile</h2>
                            <p class="themecolor" style="letter-spacing: 3px">To prevent bad actors from inserting false
                                information, only some fields can be updated</p>
                            <p>Contact Program Office if you absolutely need to make further changes to your profile</p>
                            {% include 'includes/alerts.html' %}
                        </div>
                    </div>
                    <div id="contactWrapper">
                        <div class="card mx-auto" id="form-card" style="max-width: 420px; margin-top:5px;">
                            <div class="card-body">
                                <form class="signup" id="signup_form" method="post"
                                      action="{% url 'accounts:edit_profile' %}" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    <div class="form-group column one-second">
                                        <i class="mdi mdi-account-child-circle themecolor"></i>
                                        {{ form.fatherName | as_crispy_field }}
                                    </div>
                                    <div class="form-group column one-second">
                                        <i class="mdi mdi-file-account-outline themecolor"></i>
                                        {{ form.phone_number | as_crispy_field }}
                                    </div>

                                    <div class="form-group column one">
                                        <i class="mdi mdi-face-recognition  themecolor"></i>
                                        {{ form.profile_picture | as_crispy_field }}
                                    </div>
                                    <button class="primaryAction  btn-info btn-block"
                                            type="submit">{% trans "Update" %} &raquo;
                                    </button>
                                    <div class="form-group column one">
                                        <i class="mdi mdi-file-account themecolor"></i>
                                        {{ form.registration_number | as_crispy_field }}
                                    </div>
                                    <div class="form-group column one-second">
                                        <i class="mdi mdi-hospital-building themecolor"></i>
                                        {{ form.faculty | as_crispy_field }}
                                    </div>
                                    <div class="form-group column one-second">
                                        <i class="mdi mdi-office-building themecolor"></i>
                                        {{ form.department | as_crispy_field }}
                                    </div>
                                    <div class="form-group column one">
                                        <i class="mdi mdi-notebook themecolor"></i>
                                        {{ form.programme | as_crispy_field }}
                                    </div>
                                    <div class="form-group column one-second">
                                        <i class="mdi mdi-form-dropdown themecolor"></i>
                                        {{ form.batch | as_crispy_field }}
                                    </div>
                                    <div class="form-group column one-second">
                                        <i class="mdi mdi-format-section themecolor"></i>
                                        {{ form.section | as_crispy_field }}
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
