<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <div class="menu_wrapper">
        <nav id="menu">
            <ul class="list-group menu menu-main" id="menu-main-menu">
                <a class="list-group-item {% if '/accounts/dashboard/' == request.path %} active {% endif %}"
                   href="{% url 'accounts:dashboard' %}">Dashboard </a>
                <a class="list-group-item {% if '/my_orders/' in request.path %}active {% endif %}"
                   href="#"> My Forms </a>
                <a class="list-group-item {% if '/edit_profile/' in request.path %}active {% endif %}"
                   href="#"> Edit Profile </a>
                <a class="list-group-item {% if '/change_password/' in request.path %}active {% endif %}"
                   href="{% url 'account_change_password' %}"> Change Password </a>
            </ul>
        </nav>
    </div>
            <br>
            <a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span
                    class="text">Log out</span>
            </a>
            <!--   SIDEBAR .//END   -->
</aside>