{% load static %}
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">

            <div class="col-md-8 col-lg-12 text-lg-center">
                <span class="text-muted px-2"> &copy 2021 Program Office Aid </span>
                <span class="px-2">abdurrehman.afridi.5@gmail.com</span>
                <span class="px-2">+923345669021</span>
                <span class="px-2">Islamabad, Pakistan</span>
            </div>

        </section>
    </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

</body>
</html>