
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer">
    <div class="container">
        <section class="footer-bottom row">
                        <div class="text-center text-md-center m-auto">
                            <p class="text-muted px-2">
                                &copy 2021-
                                <script type="text/javascript">
                                    document.write(new Date().getFullYear());
                                </script>
                                Program Office Aid
                            </p>
                            <span class="px-2">Developed by <a href="https://www.linkedin.com/in/abdurrheman-afridi/" target="_blank">Abdurrehman Afridi</a></span>
                        </div>
                    </section>
    </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
