{% load static %}
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">

            <div class="col-md-8 col-lg-12 text-lg-center">
                <p class="text-muted px-2"> &copy 2021 Program Office Aid </p>
                <span class="px-2">Developed by <a href="https://www.linkedin.com/in/abdurrheman-afridi/" target="_blank">Abdurrehman Afridi</a></span>

            </div>

        </section>
    </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

</body>
</html>