{% load static %}

<section class="header-main">
    <div class="container">
        <div class="row row-sm">
            <div class="col-6 col-sm-6 col-lg col-sm-5 col-md flex-grow-0">
                <a href="#" class="brand-wrap">
                    <img class="logo" src="{% static './images/logo.png' %}">
                </a> <!-- brand-wrap.// -->
            </div>
            <div class="col-6 col-sm-6 col-lg col-sm col-md flex-grow-0">
                <div class="dropdown float-right">
                    <button type="button" class="btn btn-primary text-nowrap"><i class="fa fa-bars"></i> <span
                            class="text">Category</span></button>
                </div> <!-- category-wrap.// -->
            </div> <!-- col.// -->

            <div class="col-12 col-lg col-md-12">
                <div class="mt-md-3 mt-lg-0 text-lg-right">
                    <div class="dropdown d-inline-block">
                        <a href="#" class="btn btn-light" data-toggle="dropdown"> <i class="fa fa-user"></i> <span
                                class="text">Log in</span> </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"> Sign in </a>
                            <a class="dropdown-item" href="#"> Register </a>
                        </div>
                    </div>  <!-- dropdown.// -->
                    <a href="#" class="btn btn-light"> <i class="fa fa-heart"></i>
                        <span class="text">Saved</span>
                    </a>
                    <a href="#" class="btn btn-light"> <i class="fa fa-shopping-cart"></i>
                        <span class="text"> My cart </span>
                    </a>
                </div>
            </div>
        </div> <!-- row.// -->
    </div> <!-- container.// -->
</section>