.mcb-section-inner {
    transition: all ease-in 1s;
}


.asteriskField {
    display: none;
}

.htmx-indicator{
    height: 20px;

}
/*.htmx-request .my-indicator{*/
/*    display:inline;*/
/*}*/
/*.htmx-request.my-indicator{*/
/*    display:inline;*/
/*}*/